* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
    
}

header {
    height: 100px;
    background-color:darkorchid;
    margin-bottom: 20px;
    
}

.intestazione {
    height: 450px;
    background-color: burlywood;
    margin-bottom: 30px;
}

section {
    height: 650px;
    background-color:blue;
    margin-bottom: 10px;
}

footer {
    height: 60px;
    background-color: darkviolet;
}

.blocco {
    height: 100px;
    background-color: lightskyblue;
}

.left {
    float: left;
    width: 300px;
    height: 510px;
    padding: 10px;
    margin: 20px 0;
    background-color: lightskyblue;
}

.right {
    float: right;
    width: 300px;
    height: 510px;
    padding: 10px;
    margin: 20px 0;
    background-color: lightskyblue;
}

.middle {
    float: left;
    width: 750px;
    height: 510px;
    padding: 10px;
    margin: 20px 20px;
    background-color: lightskyblue;
}

#logo {
    width: 200px;
}

.list-inline > li {
    display: inline-block;
    list-style: none;
    padding: 10px 10px 10px 0;
}

.list-inline a {
    font-size: 20px;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
}

